<%- include('./partials/header.ejs',{title:"Alumni Advice"}) %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/companies">
                        Companies <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alumniAdvice">
                        Alumni Advice
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Contact Us
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="navbar-brand" href="/logout">
                    LogOut <i class="fa-solid fa-door-open "></i>
                </a>

            </span>
        </div>
    </nav>

    <h1>This page is for alumni Advice</h1>

    <%- include('./partials/footer.ejs')%>