<%- include('./partials/header.ejs',{title:"Student Login"}) %>

    <body>
        <div class="row mt-5 pt-5">
            <div class="col-md-3 m-auto">
                <div class="card card-body text-center">
                    <h1><i class="fa-solid fa-user pb-3"></i></h1>
                    <p class="h5 pb-3">Student Login</p>
                    <% include('./partials/messages.ejs') %>
                        <form action="/studentLogin" class="form-group" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" id="studentRegNumber"
                                    placeholder="Enter Student Registration Number" name="studentRegNumber">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="studentRegPassword"
                                    name="studentRegPassword" placeholder="Enter Student Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">Login</button>
                            </div>
                            <div class="form-group">
                                <p>Dont have an account? <a href="/register">Register Here!</a></p>
                            </div>
                        </form>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>